aside{
    position: sticky;
    top: 0;
    width: 25%;
    height: 100%;
    background-color:  #DEB6AB;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10px;
  
}
a{
    font-weight: bolder;
   margin: 10px auto;
    width: 120px;
    height:30px;
   text-align: center;
    text-decoration: none;
    color: black;
 
   
}
a:hover{
    background-color: rgb(172, 112, 136);
    border-radius: 5px;
}